nodered/flows.json
[{"id":"f78b94fd.884588","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"61cd8641.71402","type":"websocket in","z":"f78b94fd.884588","name":"","server":"d0cbdab8.25bc2","client":"","x":140,"y":840,"wires":[["3e6ba2f5.c33f1e"]]},{"id":"eb4e47b0.02528","type":"debug","z":"f78b94fd.884588","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1100,"y":840,"wires":[]},{"id":"94e2d0f3.ea0b78","type":"websocket in","z":"f78b94fd.884588","name":"","server":"92523cc8.7cc308","client":"","x":150,"y":400,"wires":[["368e6e4e.1bf242"]]},{"id":"815d2e1e.674778","type":"function","z":"f78b94fd.884588","name":"Arm / Disarm","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nif (val[0]['Enter']) {\n    console.log(\"ARM\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":1.0,\n        \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_COMPONENT_ARM_DISARM\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['j']) {\n    console.log(\"DISARM\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":0.0,\n        \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_COMPONENT_ARM_DISARM\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":360,"wires":[["c48dbd61.303ef8"]]},{"id":"2bfe3512.bc5042","type":"http request","z":"f78b94fd.884588","name":"POST request mavlink2rest","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://0.0.0.0:8088/mavlink","tls":"","persist":false,"proxy":"","authType":"","x":1140,"y":160,"wires":[["eb4e47b0.02528"]]},{"id":"c48dbd61.303ef8","type":"switch","z":"f78b94fd.884588","name":"Filter","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":850,"y":360,"wires":[["2bfe3512.bc5042"]]},{"id":"4bbf7495.8945a4","type":"function","z":"f78b94fd.884588","name":"Set mode","func":"let val = JSON.parse(msg.payload);\nconsole.log(val);\nlet match = false;\n\nif (val[0]['Tab']) {\n    console.log(\"STABILIZE\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":19.0,\n        \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_MODE\"\n        },\n        \"target_system\":1,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['Backspace']) {\n    console.log(\"POSHOLD\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":19.0,\n        \"param2\":16.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_MODE\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['x']) {\n    console.log(\"MANUAL_MODE\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":1.0,\n        \"param2\":19.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_MODE\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['y']) {\n    console.log(\"DEPTH_HOLD\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":19.0,\n        \"param2\":2.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_MODE\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":400,"wires":[["c48dbd61.303ef8"]]},{"id":"c3bfab9b.efc5","type":"function","z":"f78b94fd.884588","name":"Move","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nif ((val[0]['z'])||(val[0]['w'])) {\n    console.log(\"FORWARD\");\n    \n    if (x != 1000) {\n        \n        match = true;\n        \n        x = 1000; global.set(\"x\", 1000);\n    \n        msg.payload = {\"header\":{\"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\n\nif (val[0]['s']) {\n    console.log(\"BACK\");\n    \n    if (x != -1000) {\n        match = true;\n        \n        x = -1000; global.set(\"x\", -1000);\n    \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['d']) {\n    console.log(\"SHIFT RIGHT\");  \n    \n    if (y != 1000) {\n            \n        match = true;\n    \n        y = 1000; global.set(\"y\", 1000);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif ((val[0]['q'])||(val[0]['a'])) {\n    console.log(\"SHIFT LEFT\");\n    \n    if (y != -1000) {\n    \n        match = true;\n        \n        y = -1000; global.set(\"y\", -1000);\n            \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowUp']) {\n    console.log(\"UP\");\n    \n    if (z != 1000) {\n            \n        match = true;\n    \n        z = 1000; global.set(\"z\", 1000);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowDown']) {\n    console.log(\"DOWN\");\n    \n    if (z !== 0) {\n        match = true;\n        \n        z = 0; global.set(\"z\", 0);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowLeft']) {\n    console.log(\"LEFT\");    \n    if (r != -1000) {\n        match = true;\n            \n        r = -1000; global.set(\"r\", -1000);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowRight']) {\n    console.log(\"RIGHT\");   \n    if (r != 1000) {\n        match = true;\n                \n        r = 1000; global.set(\"r\", 1000);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":440,"wires":[["c48dbd61.303ef8"]]},{"id":"98ada42f.b57","type":"inject","z":"f78b94fd.884588","name":"Every 500ms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":true,"onceDelay":"0.5","topic":"","payload":"","payloadType":"date","x":380,"y":700,"wires":[["5dd71533.704774"]]},{"id":"5dd71533.704774","type":"function","z":"f78b94fd.884588","name":"Send Heartbeat","func":"console.log('HEARTBEAT');\nmsg.payload = {\"header\":{\"system_id\":1,\"component_id\":1,\"sequence\":0},\"message\":{\"type\":\"HEARTBEAT\",\"custom_mode\":0,\"mavtype\":{\"type\":\"MAV_TYPE_GENERIC\"},\"autopilot\":{\"type\":\"MAV_AUTOPILOT_GENERIC\"},\"base_mode\":{\"bits\":128},\"system_status\":{\"type\":\"MAV_STATE_UNINIT\"},\"mavlink_version\":0}};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":700,"wires":[["c48dbd61.303ef8"]]},{"id":"368e6e4e.1bf242","type":"change","z":"f78b94fd.884588","name":"Push key events","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":360,"y":400,"wires":[["815d2e1e.674778","4bbf7495.8945a4","c3bfab9b.efc5","45e74cb8.12e6a4","5cf21ec4.d85d4","f3a7bce7.f8","e6051988.84c3d","6027232.666badc"]]},{"id":"e6051988.84c3d","type":"function","z":"f78b94fd.884588","name":"Lights","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nif (val[0]['F3']) {\n    console.log(\"LIGHTS DIMMER\");\n    match = true;\n    let buttons = 1 << 13;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\nif (val[0]['F3'] === false) {\n    console.log(\"LIGHTS DIMMER\");\n    match = true;\n    let buttons = 0 << 13;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\n\nif (val[0]['F4']) {\n    console.log(\"LIGHTS BRIGHTER\");\n    match = true;\n    let buttons = 1 << 14;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\n\nif (val[0]['F4'] === false) {\n    console.log(\"LIGHTS BRIGHTER\");\n    match = true;\n    let buttons = 0 << 14;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":560,"wires":[["c48dbd61.303ef8"]]},{"id":"f3a7bce7.f8","type":"function","z":"f78b94fd.884588","name":"Speed","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nif (val[0]['F1']) {\n    console.log(\"SLOWER\");\n    match = true;\n    let buttons = 1 << 12;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\nif (val[0]['F1'] === false) {\n    console.log(\"SLOWER\");\n    match = true;\n    let buttons = 0 << 12;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\nif (val[0]['F2']) {\n    console.log(\"FASTER\");\n    match = true;\n    msg.payload = {};\n    let buttons = 1 << 11;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\n\nif (val[0]['F2'] === false) {\n    console.log(\"FASTER\");\n    match = true;\n    msg.payload = {};\n    let buttons = 0 << 11;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":520,"wires":[["c48dbd61.303ef8"]]},{"id":"45e74cb8.12e6a4","type":"function","z":"f78b94fd.884588","name":"Stand","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nif ((val[0]['z'] === false)||(val[0]['w'] === false)) {\n    console.log(\"FORWARD\");\n    \n    if (x !== 0) {\n        \n        match = true;\n                    \n        x = 0; global.set(\"x\", 0);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\n\nif (val[0]['s'] === false) {\n    console.log(\"BACK\");\n    \n    if (x !== 0) {\n        match = true;\n        \n        x = 0; global.set(\"x\", 0);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['d'] === false) {\n    console.log(\"SHIFT RIGHT\");\n    \n    if (y !== 0) {\n        match = true;\n            \n        y = 0; global.set(\"y\", 0);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif ((val[0]['q'] === false)||(val[0]['a'] === false)) {\n    console.log(\"SHIFT LEFT\");\n    \n    if (y !== 0) {\n        \n        match = true;\n        \n        y = 0; global.set(\"y\", 0);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowUp'] === false) {\n    console.log(\"UP\");\n    \n    if (z != 500) {\n        match = true;\n            \n        z = 500; global.set(\"z\", 500);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowDown'] === false) {\n    console.log(\"DOWN\");\n    \n    if (z != 500) {\n        match = true;\n                \n        z = 500; global.set(\"z\", 500);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowLeft'] === false) {\n    console.log(\"LEFT\"); \n    \n    if (r !== 0) {\n        match = true;\n                \n        r = 0; global.set(\"r\", 0);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (val[0]['ArrowRight'] === false) {\n    console.log(\"RIGHT\"); \n    \n    if (r !== 0) {\n        match = true;\n                    \n        r = 0; global.set(\"r\", 0);\n        \n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":0,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":480,"wires":[["c48dbd61.303ef8"]]},{"id":"8d99e425.97ba1","type":"http in","z":"f78b94fd.884588","name":"","url":"/mavlink_arm","method":"post","upload":false,"swaggerDoc":"","x":190,"y":60,"wires":[["60f69ed8.2128e"]]},{"id":"60f69ed8.2128e","type":"function","z":"f78b94fd.884588","name":"Direct Arm","func":"msg.payload = {\n  \"header\": {\n    \"system_id\": 1,\n    \"component_id\": 1,\n    \"sequence\": 0\n  },\n  \"message\": {\n    \"type\":\"COMMAND_LONG\",\n    \"param1\":1.0,\n    \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n    \"command\":{\n      \"type\":\"MAV_CMD_COMPONENT_ARM_DISARM\"\n    },\n    \"target_system\":0,\n    \"target_component\":0,\n    \"confirmation\":0\n  }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":60,"wires":[["2bfe3512.bc5042"]]},{"id":"2d44436a.763cf4","type":"http in","z":"f78b94fd.884588","name":"","url":"/mavlink_disarm","method":"post","upload":false,"swaggerDoc":"","x":180,"y":100,"wires":[["4db75379.8e0b74"]]},{"id":"4db75379.8e0b74","type":"function","z":"f78b94fd.884588","name":"Direct Disarm","func":"msg.payload = {\n  \"header\": {\n    \"system_id\": 1,\n    \"component_id\": 1,\n    \"sequence\": 0\n  },\n  \"message\": {\n    \"type\":\"COMMAND_LONG\",\n    \"param1\":0.0,\n    \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n    \"command\":{\n      \"type\":\"MAV_CMD_COMPONENT_ARM_DISARM\"\n    },\n    \"target_system\":0,\n    \"target_component\":0,\n    \"confirmation\":0\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":640,"y":100,"wires":[["2bfe3512.bc5042"]]},{"id":"ac90f149.44033","type":"http in","z":"f78b94fd.884588","name":"","url":"/mavlink_mode/stabilize","method":"post","upload":false,"swaggerDoc":"","x":160,"y":180,"wires":[["738816ae.c6e24"]]},{"id":"a411d49c.44253","type":"http in","z":"f78b94fd.884588","name":"","url":"/mavlink_mode/manual_mode","method":"post","upload":false,"swaggerDoc":"","x":140,"y":260,"wires":[["e1cf8bb3.78daa8"]]},{"id":"7f075966.89cce","type":"http in","z":"f78b94fd.884588","name":"","url":"/mavlink_mode/poshold","method":"post","upload":false,"swaggerDoc":"","x":160,"y":220,"wires":[["79aaafb3.d2d1e8"]]},{"id":"aeef98bf.cb99b","type":"http in","z":"f78b94fd.884588","name":"","url":"/mavlink_mode/depth_hold","method":"post","upload":false,"swaggerDoc":"","x":150,"y":300,"wires":[["d0920226.faf258"]]},{"id":"738816ae.c6e24","type":"function","z":"f78b94fd.884588","name":"Direct mode stabilize","func":"msg.payload = {\n  \"header\": {\n    \"system_id\": 1,\n    \"component_id\": 1,\n    \"sequence\": 0\n  },\n  \"message\": {\n    \"type\":\"COMMAND_LONG\",\n    \"param1\":19.0,\n    \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n    \"command\":{\n      \"type\":\"MAV_CMD_DO_SET_MODE\"\n    },\n    \"target_system\":0,\n    \"target_component\":0,\n    \"confirmation\":0\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":180,"wires":[["2bfe3512.bc5042"]]},{"id":"e1cf8bb3.78daa8","type":"function","z":"f78b94fd.884588","name":"Direct mode manual mode","func":"msg.payload = {\n  \"header\": {\n    \"system_id\": 1,\n    \"component_id\": 1,\n    \"sequence\": 0\n  },\n  \"message\": {\n    \"type\":\"COMMAND_LONG\",\n    \"param1\":1.0,\n    \"param2\":19.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n    \"command\":{\n      \"type\":\"MAV_CMD_DO_SET_MODE\"\n    },\n    \"target_system\":0,\n    \"target_component\":0,\n    \"confirmation\":0\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":680,"y":260,"wires":[["2bfe3512.bc5042"]]},{"id":"79aaafb3.d2d1e8","type":"function","z":"f78b94fd.884588","name":"Direct mode poshold","func":"msg.payload = {\n  \"header\": {\n    \"system_id\": 1,\n    \"component_id\": 1,\n    \"sequence\": 0\n  },\n  \"message\": {\n    \"type\":\"COMMAND_LONG\",\n    \"param1\":19.0,\n    \"param2\":16.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n    \"command\":{\n      \"type\":\"MAV_CMD_DO_SET_MODE\"\n    },\n    \"target_system\":0,\n    \"target_component\":0,\n    \"confirmation\":0\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":220,"wires":[["2bfe3512.bc5042"]]},{"id":"d0920226.faf258","type":"function","z":"f78b94fd.884588","name":"Direct mode depth hold","func":"msg.payload = {\n  \"header\": {\n    \"system_id\": 1,\n    \"component_id\": 1,\n    \"sequence\": 0\n  },\n  \"message\": {\n    \"type\":\"COMMAND_LONG\",\n    \"param1\":19.0,\n    \"param2\":2.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n    \"command\":{\n      \"type\":\"MAV_CMD_DO_SET_MODE\"\n    },\n    \"target_system\":0,\n    \"target_component\":0,\n    \"confirmation\":0\n  }\n};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":670,"y":300,"wires":[["2bfe3512.bc5042"]]},{"id":"6027232.666badc","type":"function","z":"f78b94fd.884588","name":"Gripper","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nif (val[0]['o']) {\n    console.log(\"GRIPPER OPEN\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1600,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['o'] === false) {\n    console.log(\"GRIPPER OPEN\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1500,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['p']) {\n    console.log(\"GRIPPER CLOSE\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1400,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['p'] === false) {\n    console.log(\"GRIPPER CLOSE\");\n    match = true;\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1500,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (match === true) return msg;\nelse return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":600,"wires":[["c48dbd61.303ef8"]]},{"id":"5cf21ec4.d85d4","type":"function","z":"f78b94fd.884588","name":"Camera tilt","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet tilt = global.get(\"tilt\") ? global.get(\"tilt\") : 0;\n\n\nif (val[0]['l']) {\n    console.log(\"CAMERA DOWN\");\n    match = true;\n    \n    if (tilt > -4300) {\n        tilt = tilt - 200; global.set(\"tilt\", tilt);\n    }\n    \n    \n    msg.payload = {\n        \"header\": {\n            \"system_id\": 255,\n            \"component_id\": 1,\n            \"sequence\": 0\n        },\n        \"message\": {\n            \"type\": \"COMMAND_LONG\",\n            \"param1\": tilt,\n            \"param2\": 0.0,\n            \"param3\": 0.0,\n            \"param4\": 0.0,\n            \"param5\": 0.0,\n            \"param6\": 0.0,\n            \"param7\": 2.0,\n            \"command\": {\n                \"type\": \"MAV_CMD_DO_MOUNT_CONTROL\"\n            },\n            \"target_system\": 0,\n            \"target_component\": 0,\n            \"confirmation\": 0\n        }\n    };\n}\n\nif (val[0]['m']) {\n    console.log(\"CAMERA UP\");\n    \n    \n    if (tilt < 4300) {\n        tilt = tilt + 200; global.set(\"tilt\", tilt);\n        match = true;\n    }\n    \n    msg.payload = {\n        \"header\": {\n            \"system_id\": 255,\n            \"component_id\": 1,\n            \"sequence\": 0\n        },\n        \"message\": {\n            \"type\": \"COMMAND_LONG\",\n            \"param1\": tilt,\n            \"param2\": 0.0,\n            \"param3\": 0.0,\n            \"param4\": 0.0,\n            \"param5\": 0.0,\n            \"param6\": 0.0,\n            \"param7\": 2.0,\n            \"command\": {\n                \"type\": \"MAV_CMD_DO_MOUNT_CONTROL\"\n            },\n            \"target_system\": 0,\n            \"target_component\": 0,\n            \"confirmation\": 0\n        }\n    };\n}\n\n\nif (match === true) return msg;\nelse return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":640,"wires":[["c48dbd61.303ef8"]]},{"id":"3e6ba2f5.c33f1e","type":"change","z":"f78b94fd.884588","name":"Push joystick events","rules":[{"t":"set","p":"payload","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":380,"y":840,"wires":[["957dedeb.d79a78","230bd2e5.0acbce","9803e922.93bf18","ca036e1f.ae37b8","cb57fcc7.6552f","c49c6075.ff43b"]]},{"id":"957dedeb.d79a78","type":"function","z":"f78b94fd.884588","name":"Arm / Disarm","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nif (val[0]['btn']) {\n    \n    if (val[0]['btn']['7'] === true) {\n        console.log(\"ARM\");\n        match = true;\n        msg.payload = {\n          \"header\": {\n            \"system_id\": 1,\n            \"component_id\": 1,\n            \"sequence\": 0\n          },\n          \"message\": {\n            \"type\":\"COMMAND_LONG\",\n            \"param1\":1.0,\n            \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n            \"command\":{\n              \"type\":\"MAV_CMD_COMPONENT_ARM_DISARM\"\n            },\n            \"target_system\":0,\n            \"target_component\":0,\n            \"confirmation\":0\n          }\n        };\n    }\n    \n    if (val[0]['btn']['6'] === true) {\n        console.log(\"DISARM\");\n        match = true;\n        msg.payload = {\n          \"header\": {\n            \"system_id\": 1,\n            \"component_id\": 1,\n            \"sequence\": 0\n          },\n          \"message\": {\n            \"type\":\"COMMAND_LONG\",\n            \"param1\":0.0,\n            \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n            \"command\":{\n              \"type\":\"MAV_CMD_COMPONENT_ARM_DISARM\"\n            },\n            \"target_system\":0,\n            \"target_component\":0,\n            \"confirmation\":0\n          }\n        };\n    }\n}\n\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":630,"y":780,"wires":[["17d2ec37.411254"]]},{"id":"17d2ec37.411254","type":"switch","z":"f78b94fd.884588","name":"Filter","property":"payload","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","repair":false,"outputs":1,"x":840,"y":780,"wires":[["2bfe3512.bc5042"]]},{"id":"230bd2e5.0acbce","type":"function","z":"f78b94fd.884588","name":"Set mode","func":"let val = JSON.parse(msg.payload);\nconsole.log(val);\nlet match = false;\n\nif (val[0]['btn']) {\n    \n    if (val[0]['btn']['0'] === true) {\n        console.log(\"STABILIZE\");\n        match = true;\n        msg.payload = {\n          \"header\": {\n            \"system_id\": 1,\n            \"component_id\": 1,\n            \"sequence\": 0\n          },\n          \"message\": {\n            \"type\":\"COMMAND_LONG\",\n            \"param1\":19.0,\n            \"param2\":0.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n            \"command\":{\n              \"type\":\"MAV_CMD_DO_SET_MODE\"\n            },\n            \"target_system\":1,\n            \"target_component\":0,\n            \"confirmation\":0\n          }\n        };\n    }\n    \n    if (val[0]['btn']['1'] === true) {\n        console.log(\"POSHOLD\");\n        match = true;\n        msg.payload = {\n          \"header\": {\n            \"system_id\": 1,\n            \"component_id\": 1,\n            \"sequence\": 0\n          },\n          \"message\": {\n            \"type\":\"COMMAND_LONG\",\n            \"param1\":19.0,\n            \"param2\":16.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n            \"command\":{\n              \"type\":\"MAV_CMD_DO_SET_MODE\"\n            },\n            \"target_system\":0,\n            \"target_component\":0,\n            \"confirmation\":0\n          }\n        };\n    }\n    \n    if (val[0]['btn']['2'] === true) {\n        console.log(\"MANUAL_MODE\");\n        match = true;\n        msg.payload = {\n          \"header\": {\n            \"system_id\": 1,\n            \"component_id\": 1,\n            \"sequence\": 0\n          },\n          \"message\": {\n            \"type\":\"COMMAND_LONG\",\n            \"param1\":1.0,\n            \"param2\":19.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n            \"command\":{\n              \"type\":\"MAV_CMD_DO_SET_MODE\"\n            },\n            \"target_system\":0,\n            \"target_component\":0,\n            \"confirmation\":0\n          }\n        };\n    }\n    \n    if (val[0]['btn']['3'] === true) {\n        console.log(\"DEPTH_HOLD\");\n        match = true;\n        msg.payload = {\n          \"header\": {\n            \"system_id\": 1,\n            \"component_id\": 1,\n            \"sequence\": 0\n          },\n          \"message\": {\n            \"type\":\"COMMAND_LONG\",\n            \"param1\":19.0,\n            \"param2\":2.0,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n            \"command\":{\n              \"type\":\"MAV_CMD_DO_SET_MODE\"\n            },\n            \"target_system\":0,\n            \"target_component\":0,\n            \"confirmation\":0\n          }\n        };\n    }\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":820,"wires":[["17d2ec37.411254"]]},{"id":"9803e922.93bf18","type":"function","z":"f78b94fd.884588","name":"Move","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\n/* Left joystick */\n\nif (val[0]['stk0']) {\n    \n    match = true;\n\n    x = Math.trunc(val[0]['stk0'][1] * -1000 / 127); global.set(\"x\", x);\n    y = Math.trunc(val[0]['stk0'][0] * 1000 / 127); global.set(\"y\", y);\n}\n\n/* Right joystick */\n\nif (val[0]['stk1']) {\n\n    match = true;\n\n    z = Math.trunc((val[0]['stk1'][1] * -1000 / 127 + 1000)/2); global.set(\"z\", val[0]['stk1'][0]);\n    r = Math.trunc(val[0]['stk1'][0] * 1000 / 127); global.set(\"r\", r);\n    \n}\n\nif (match === true) {\n              \n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":0,\n            \"target\":1\n        }\n    };\n    \n    return msg;\n}\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":860,"wires":[["17d2ec37.411254"]]},{"id":"ca036e1f.ae37b8","type":"function","z":"f78b94fd.884588","name":"Speed","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nif (val[0]['dpad']) {\n    \n    if (val[0]['dpad']['2'] === true) {\n        console.log(\"SLOWER\");\n        match = true;\n        let buttons = 1 << 12;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n    \n    if (val[0]['dpad']['5'] === true) {\n        console.log(\"SLOWER\");\n        match = true;\n        let buttons = 0 << 12;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n    \n    if (val[0]['dpad']['8'] === true) {\n        console.log(\"FASTER\");\n        match = true;\n        msg.payload = {};\n        let buttons = 1 << 11;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n    \n    \n    if (val[0]['dpad']['5'] === true) {\n        console.log(\"FASTER\");\n        match = true;\n        msg.payload = {};\n        let buttons = 0 << 11;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":900,"wires":[["17d2ec37.411254"]]},{"id":"cb57fcc7.6552f","type":"function","z":"f78b94fd.884588","name":"Lights","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nif (val[0]['dpad']) {\n    \n    if (val[0]['dpad']['4'] === true) {\n    \n        console.log(\"LIGHTS DIMMER\");\n        match = true;\n        let buttons = 1 << 13;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n    \n    if (val[0]['dpad']['5'] === true) {\n        console.log(\"LIGHTS DIMMER\");\n        match = true;\n        let buttons = 0 << 13;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n    \n    \n    if (val[0]['dpad']['6'] === true) {\n        console.log(\"LIGHTS BRIGHTER\");\n        match = true;\n        let buttons = 1 << 14;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n    \n    \n    if (val[0]['dpad']['5'] === true) {\n        console.log(\"LIGHTS BRIGHTER\");\n        match = true;\n        let buttons = 0 << 14;\n        msg.payload = {\"header\":{\n            \"system_id\":255,\"component_id\":0,\"sequence\":0\n            },\"message\":{\n                \"type\":\"MANUAL_CONTROL\",\n                \"x\": x,\n                \"y\": y,\n                \"z\": z,\n                \"r\": r,\n                \"buttons\":buttons,\n                \"target\":1\n            }\n        };\n    }\n}\n\nif (match === true) return msg;\nelse return null;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":940,"wires":[["17d2ec37.411254"]]},{"id":"c49c6075.ff43b","type":"function","z":"f78b94fd.884588","name":"Gripper","func":"let val = JSON.parse(msg.payload);\nlet match = false;\n\nlet x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nif (val[0]['o']) {\n    console.log(\"GRIPPER OPEN\");\n    match = true;\n    /*let buttons = 1 << 6;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };*/\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1600,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['o'] === false) {\n    console.log(\"GRIPPER OPEN\");\n    match = true;\n    /*let buttons = 0 << 6;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };*/\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1500,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['p']) {\n    console.log(\"GRIPPER CLOSE\");\n    match = true;\n    /*let buttons = 1 << 7;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };*/\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1400,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (val[0]['p'] === false) {\n    console.log(\"GRIPPER CLOSE\");\n    match = true;\n    /*let buttons = 0 << 7;\n    msg.payload = {\"header\":{\n        \"system_id\":255,\"component_id\":0,\"sequence\":0\n        },\"message\":{\n            \"type\":\"MANUAL_CONTROL\",\n            \"x\": x,\n            \"y\": y,\n            \"z\": z,\n            \"r\": r,\n            \"buttons\":buttons,\n            \"target\":1\n        }\n    };*/\n    msg.payload = {\n      \"header\": {\n        \"system_id\": 1,\n        \"component_id\": 1,\n        \"sequence\": 0\n      },\n      \"message\": {\n        \"type\":\"COMMAND_LONG\",\n        \"param1\":11,\n        \"param2\":1500,\"param3\":0.0,\"param4\":0.0,\"param5\":0.0,\"param6\":0.0,\"param7\":0.0,\n        \"command\":{\n          \"type\":\"MAV_CMD_DO_SET_SERVO\"\n        },\n        \"target_system\":0,\n        \"target_component\":0,\n        \"confirmation\":0\n      }\n    };\n}\n\nif (match === true) return msg;\nelse return null;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":620,"y":980,"wires":[["17d2ec37.411254"]]},{"id":"bb2c9a7f.d77a78","type":"inject","z":"f78b94fd.884588","name":"Every 500ms","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"0.5","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":380,"y":740,"wires":[["14e69c8d.86e043"]]},{"id":"14e69c8d.86e043","type":"function","z":"f78b94fd.884588","name":"Send Manual control","func":"let x = global.get(\"x\") ? global.get(\"x\") : 0;\nlet y = global.get(\"y\") ? global.get(\"y\") : 0;\nlet z = global.get(\"z\") ? global.get(\"z\") : 500;\nlet r = global.get(\"r\") ? global.get(\"r\") : 0;\n\nmsg.payload = {\"header\":{\n    \"system_id\":255,\"component_id\":0,\"sequence\":0\n    },\"message\":{\n        \"type\":\"MANUAL_CONTROL\",\n        \"x\": x,\n        \"y\": y,\n        \"z\": z,\n        \"r\": r,\n        \"buttons\":0,\n        \"target\":1\n    }\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":740,"wires":[["c48dbd61.303ef8"]]},{"id":"d0cbdab8.25bc2","type":"websocket-listener","path":"/gamepad","wholemsg":"false"},{"id":"92523cc8.7cc308","type":"websocket-listener","path":"/keyboard","wholemsg":"false"}]
